body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

section {
    padding: 100px 0;
}

section h2 {
    margin-bottom: 20px;
}

section p.lead {
    max-width: 800px;
    margin: 0 auto;
}

#home {
    color: #fff;
    background: url('images/campus.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 20px 0;
}

nav.navbar {
    padding: 20px 0;
    transition: background 0.5s;
}

nav.navbar.scrolled {
    background: rgba(0, 0, 0, 0.8);
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover {
    color: #0779e4 !important;
}
